@import "tailwindcss";

/* si querés, solo unos ajustes básicos */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@keyframes pacman-mouth {
  0% {
    /* boca bien abierta */
    clip-path: polygon(50% 50%, 100% 0, 100% 100%);
  }
  100% {
    /* boca más cerrada (triángulo más angosto) */
    clip-path: polygon(50% 50%, 100% 25%, 100% 75%);
  }
}

/* cuña que "come" el círculo amarillo */
.pacman-mouth-wedge {
  background-color: #020518;
  clip-path: polygon(50% 50%, 100% 0, 100% 100%);
}

.animate-pacman-mouth {
  animation: pacman-mouth 0.25s ease-in-out infinite alternate;
}

html, body {
  touch-action: manipulation;
}
